<sb-filtercards #filters (apply)="applyFilters($event)" [objectsListLength] = "decorators.length"
[filteredObjectsListLength]="visibleDecoratorsCount"> </sb-filtercards>

<div class="changes-view">
    <div class="changes-container">
        <div class="changes-card-container mat-typography">
            <ng-container *ngFor ="let decorator of decorators">
                <mat-card class="change-card" *ngIf ="decorator.isVisible" (click) ="selectCard($event,decorator)">
                    <mat-card-header class="change-card-header">
                      <div class="change-header-image" mat-card-avatar [innerHTML] = "decorator.projectImage"></div>
                      <div class="change-header">
                      <mat-card-title classg="change-header-title">
                        <mat-label>{{decorator.change.title}}</mat-label>
                        </mat-card-title>
                      <mat-card-subtitle class="change-owner">
                        <a (click) ="stopPropogation($event)" target ="_blank" href ="{{decorator.change.shortUrl}}" 
                    class ="link-header">{{decorator.change.shortUrl}}</a>
                      </mat-card-subtitle>
                    </div>
                    </mat-card-header>
                                    
                    <mat-card-content>
                      <p>
                        {{decorator.change.description}}
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button disabled>Team : {{decorator.change.featureTeam}}</button>
                      <button mat-button disabled>Tribe : {{decorator.change.tribe}}</button>
                      <button mat-button disabled>Application : {{decorator.change.application}}</button>
                      <button mat-button (click)="approve(decorator.change)" *ngIf = "decorator.change.isCardValidationRequired">Approve</button>
                    </mat-card-actions>
                  </mat-card> 
            </ng-container>
        </div>
    </div>
</div>